<form action="<?=$GLOBALS['project_index'];?>controllers/tipopg.php" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="action" value="insert">

	<label> Codigo: </label><br>
	<input class="form-control" type="number" placeholder="Codigo" name="tipopg_codigo" required><br><br>

	<label> Descriçao: </label><br>
	<input class="form-control" type="text" placeholder="Descriçao" name="tipopg_name" required><br><br>

	<button class="btn btn-secondary"> Cadastrar </button>

</form>
